@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.glowing-border {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.glowing-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: linear-gradient(90deg, transparent, #703bf6, transparent);
  background-size: 300% 100%;
  animation: glowingLine 3s linear infinite;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 1px;
  pointer-events: none;
  z-index: 1;
}

@keyframes glowingLine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.react-calendar {
  width: 700px !important; /* force width */
  max-width: 100% !important; /* prevent internal max-width limits */
  font-size: 1.25rem;
}

.react-calendar__month-view {
  width: 100% !important; /* make month view fill parent width */
}

.react-calendar__month-view__weekdays,
.react-calendar__month-view__days {
  width: 100% !important; /* full width for weekdays and days */
}

.react-calendar__tile {
  padding: 1.2em !important;
}
